@model ProjectManagementSystem.Models.DailyScrum

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DailyScrum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dailyScrumNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dailyScrumNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.scrum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.scrum.scrumID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dailyScrumTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dailyScrumTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="dailyScrumID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
