@model IEnumerable<ProjectManagementSystem.Models.TasksForUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.taskForUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.taskDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem=>item.taskForUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project.projectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.taskDeadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.taskForUserID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.taskForUserID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.taskForUserID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
